@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

:root{
  --text-color: #000000;
  --card-front-color: #15AE68;
  --card-back-color: #09683d;
}

body {
  background: url(img/bg-desktop-red.webp);
  font-family: Gluten;
}
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

:root{
  --text-color: #000000;
  --card-front-color: #15AE68;
  --card-back-color: #09683d;
}

body {
  background: url(img/bg-desktop-red.webp);
  font-family: Gluten;
}
